:root {
    --colorOne: #32b62b;
    --colorTwo: #fb2323;
    --colorThree: #2b2728;
    --colorFour: #f5f5f5;
    --colorFive: #ffffff;
    --colorSix: #111111;
}

html {
    scroll-behavior: smooth;
}

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}
  
li {
    list-style: none;
}

/* Back to Top Button */
.button1 {
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(12, 12, 12);
    color: white;
    border: none;
}
  

/* Background Image */
.container {
    background-image: url("./assests/images/banner.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center top; 
    height: 800px;
}

/* NavBar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.nav-links a {
    color: #fff;
}

.nav-links a:hover {
    color: var(--colorOne);
}

.logo {
    font-size: 24px;
}

.black {
    color: grey;
  }
  
.white {
    color: white;
}

.green {
    color: var(--colorOne);
}

.red {
    color: var(--colorTwo);
}

.black,
.green,
.red {
  display: inline; /* Ensures the spans are displayed inline */
}

.home {
    margin-left: 10px;
    margin-top: 50px;
    display: flex;
    padding: 10px;
    background-color: var(--colorThree);
    width: 170px;
}

.marks {
    font-size: 8px;
    background-color: var(--colorThree)
}

.tagline {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--colorThree)
}

.logo span:not(:first-child) {
  margin-left: -5px; /* Adjust the negative margin as needed */
}

    /* Navbar Menu */
.menu {
    display: flex;
    gap: 1em;
    font-size: 12px;
}

.menu li:hover {
    color: var(--colorOne);
}
  

.menu li {
    padding: 5px 14px;
}

/* Light/Dark Mode button */
i.fa-solid {
    cursor: pointer;
    user-select: none;
    text-align: center;
    align-items: center;
}

.fa-solid:hover {
    color: var(--colorOne);
}
  
  /* DROPDOWN MENU */
.services {
    position: relative; 
}
  
.dropdown {
    background-color: var(--colorOne);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}
  
.dropdown li + li {
 margin-top: 10px;
}
  
.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: var(--colorOne)
}

.services:hover .dropdown {
    display: block;
}

/* RESPONSIVE NAVBAR */
input[type=checkbox] {
    display: none;
}
    /* Hamburger Menu */
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

.hamburger::before {
    content: "\2630"; /* Three lines symbol */
}

    /* Media Queries */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: var(--colorThree);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    .menu li:hover {
        display: inline-block;
        color: var(--colorSix);
        /* transition: 0.3s ease; */
    }
    .menu li + li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu {
        display: block;
    }
    #checkbox_toggle {
        display: none; /* Hide the checkbox */
    }
    #checkbox_toggle:checked + .hamburger::before {
        content: "\2715"; /* Cross symbol */
    }
    .hamburger {
        display: block;
    }
    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }
    .dropdown li:hover {
        background-color: var(--colorSix);
    }
}


/* ATHLETES */
#athletes {
    background-color: var(--colorSix);
}

.athletes {
    background-color: var(--colorSix);
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 1rem; */
    align-items: center;
    justify-content: center;
    
}

.title {
    font-size: 24px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: var(--colorOne);
    padding: 20px;
}

.avatar {
    /* height: auto; */
    max-width: 100%;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    /* border: 2px solid #000000; */
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.cards_item {
    display: flex;
    padding: 0.5rem;
    flex-basis: 33.3333%; /* Set initial width for large screens */
}

.card {
    background-color: var(--colorThree);
    border-radius: 0.7rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%; /* Set initial width for large screens */
}

.avatar {
    width: 350px;
	transform: translateY(10px);
	margin: 0 auto;
	filter: drop-shadow(8px 0px 10px #000000);
	transition: all 150ms ease-in-out;
}

.card:hover .card_content {
    display: block;
}

.card:hover .avatar {
    transform: scale(0.9) translateY(-10px);
	opacity: 0.6;
	filter: blur(4px);
}


.card_content {
    position: absolute;
    top: 40%;
    width: 100%;
    padding: 5%;
    background: #5F5A5B;
    color: var(--colorFive);
    font-size: 8px;
    font-family: 'Lora', serif;
    display: none;
    border: 2px solid green;
}

.answer{
    font-weight: 100;
    padding: 10px;
    text-align: right;
}


@media (max-width: 40rem) {
    .cards_item {
      width: 33.3333%;
    }
    
    .card_content {
      top: 30%; /* Adjust top value for smaller screens */
      font-size: 6px; /* Adjust font size for smaller screens */
    }
}
  
@media (max-width: 30rem) {
    .cards_item {
      width: 50%;
    }
    
    .card_content {
      top: 30%; /* Adjust top value for even smaller screens */
      font-size: 4px; /* Adjust font size for even smaller screens */
    }
}


/* Contacts */
.form-main {
    background: linear-gradient(to bottom, #00000024, #00000024),
      url("./assests/images/contacts-bg.png")
        no-repeat center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;

    .main-wrapper {
      border-radius: 10px;
      padding: 30px;
      width: 40%;
      box-shadow: 0 0 5px 5px #00000020;
      backdrop-filter: blur(2px);
      background-color: #ffffff85;
      @media screen and (max-width: 991px) {
        width: 70%;
      }
      @media screen and (max-width: 767px) {
        width: 70%;
      }
      .form-head {
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
        text-align: center;
        margin: 0px 0 25px;
      }
      .form-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        .form-card {
          position: relative;
          width: 80%;
  
          .form-input {
            padding: 20px 25px 15px;
            width: 100%;
            border: 1px solid var(--colorSix);
            border-radius: 5px;
            background: transparent;
            outline: none;
            font-size: 14px;
            line-height: 30px;
            font-weight: 400;
                box-sizing: border-box;
  
            &:valid,
            &:focus {
              border: 1px solid var(--colorFour);
            }
  
            &:valid ~ .form-label,
            &:focus ~ .form-label {
              color: var(--colorFour);
              top: 30%;
              transform: translateY(-70%);
              font-size: 10px;
              line-height: 23px;
            }
  
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
              transition: background-color 9999s ease-in-out 0s;
            }
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
  
          .form-label {
            position: absolute;
            left: 25px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            transition: 0.3s;
            margin: 0;
            font-size: 14px;
            line-height: 28px;
            font-weight: 500;
          }
          .form-textarea {
            padding: 20px 25px 15px;
            width: 100%;
            border: 1px solid var(--colorOne);
            border-radius: 5px;
            background: transparent;
            outline: none;
            font-size: 14px;
            line-height: 30px;
            font-weight: 400;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            resize: none;
                box-sizing: border-box;
  
            &:valid,
            &:focus {
              border: 1px solid var(--colorFour);
            }
  
            &:valid ~ .form-textarea-label,
            &:focus ~ .form-textarea-label {
              color: var(--colorFour);
              top: 18%;
              transform: translateY(-82%);
              font-size: 13px;
              line-height: 23px;
            }
  
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
              transition: background-color 9999s ease-in-out 0s;
            }
          }
          .form-textarea-label {
            position: absolute;
            left: 25px;
            top: 30%;
            transform: translateY(-70%);
            pointer-events: none;
            transition: 0.3s;
            margin: 0;
            font-size: 14px;
            line-height: 28px;
            font-weight: 500;
          }
          .submit {
            padding: 1.2%;
            background-color: #ffffff85;
            border: 2px solid black;
            border-radius: 5px;
            box-shadow: 4px 2px var(--colorOne);
            cursor: pointer;
            font-family: 'Plaster', cursive;
            color: var(--colorSix);
            transition: all .2s linear;
          }

          .submit:hover{
            color: black;
            padding: 1%;
            box-shadow: 4px 2px var(--colorSix);
          }
        }
      }
    }
}

.credit{
    margin-top: 60px;
    color: var(--colorFive);
    font-size: 10px;
    font-weight: 100;
    align-items: center;
    text-align: center;
}

.icon {
    color: var(--colorFive);
}
  